<section class="footer">
    <h2>CONTACT US</h2>
    <p>Get in touch with us</p>
    <p>Have a question or comment about our app? Get in touch with us using the contact form below and our team will
        respond
        shortly.</p>
    <ul class="footer-socials">
        <li class="footer-socials-item">
            <a class="footer-socials-link" href="https://www.facebook.com/" target="_blank">
                <svg class="footer-socials-icon" width="24" height="24">
                    <use href=""></use>
                </svg>
            </a>
        </li>
        <li class="footer-socials-item">
            <a class="footer-socials-link" href="https://twitter.com/" target="_blank">
                <svg class="footer-socials-icon" width="24" height="24">
                    <use href=""></use>
                </svg>
            </a>
        </li>
        <li class="footer-socials-item">
            <a class="footer-socials-link" href="https://www.linkedin.com/" target="_blank">
                <svg class="footer-socials-icon" width="24" height="24">
                    <use href=""></use>
                </svg>
            </a>
        </li>
    </ul>
    <address class="footer">
        <ul class="footer-list">
            <li class="footer-item">
                <a class="footer-link" href="tel:+xxxxxxxxxxxx">+xx-xxxx-xxxx-xx</a>
            </li>
            <li class="footer-item">
                <a class="footer-link" href=" mailto:goIteens@gmail.com">goIteens@gmail.com</a>
            </li>
        </ul>
    </address>
    <form class="form">
        <div class="">
            <label class="" for="user-name">Name</label>
            <div class="cont-input-icon">
                <input class="" id="user-name" name="user-name" type="text">
                <svg width="18" height="24" class="modal-icon">
                    <use href=""></use>
                </svg>
            </div>
        </div>
        <div class="">
            <label class="" for="user-phone">Name</label>
            <div class="cont-input-icon">
                <input class="" id="phone" name="name" type="tel" required>
                <svg width="18" height="24" class="">
                    <use href=""></use>
                </svg>
            </div>
        </div>
        <div class="">
            <label class="" for="user-email">Email</label>
            <div class="cont-input-icon">
                <input class="" id="email" name="user-email" type="email">
                <svg width="18" height="24" class="">
                    <use href=""></use>
                </svg>
            </div>
        </div>
        <button class="button-input" type="submit">SUBMIT
        </button>
    </form>
</section>