<header class="header">
  <div>
    <nav class="header-navigation">
      <a href="" class="header-logo">Mobileapp</a>
      <ul class="header-menu">
        <li class="header-menu-list">
          <a href="" class="header-link">HOME</a>
        </li>
        <li class="header-menu-list">
          <a href="" class="header-link">FEATURES</a>
        </li>
        <li class="header-menu-list">
          <a href="" class="header-link">TEAM</a>
        </li>
        <li class="header-menu-list">
          <a href="" class="header-link">TESTIMONIALS</a>
        </li>
        <li class="header-menu-list">
          <a href="" class="header-link">CONTACT</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
