<section class="hero container">
  <h1 class="hero-title">Introducing Mobileapp</h1>
  <h3 class="hero-subtitle">Download our mobile app today!</h3>
  <ul class="hero-list">
    <li class="hero-list-item">
      Real-time updates and notifications for timely information
    </li>
    <li class="hero-list-item">
      Robust analytics and reporting for data-driven insights
    </li>
    <li class="hero-list-item">Offline capabilities for uninterrupted use</li>
  </ul>
  <button class="hero-btn" type="button">Download</button>
</section>
