<section class="team">
    <div class="container section-team-container">
      <h2 class="section-title">Our Team</h2>
      <p>Our team is made up of talented and passionate individuals who are committed to providing the best experience for our users. Each member brings a unique set of skills and expertise to the table, allowing us to work collaboratively and effectively to achieve our goals.</p>
    </div>
    <ul class="team-list">
        <li class="team-card">
            <img
            src=""
            alt="Foto"
            width="264"
            height="260"/>
            <div class="team-name-profession">
                <h3 class="team-name">David Patel</h3>
                <p class="team-profession">Managing Direcor</p>
            </div>
        </li>
        <li class="team-card">
            <img
            src=""
            alt="Foto"
            width="264"
            height="260"/>
            <div class="team-name-profession">
                <h3 class="team-name">Rachel Kim</h3>
                <p class="team-profession">Lead Designer</p>
            </div>
        </li>
        <li class="team-card">
            <img
            src=""
            alt="Foto"
            width="264"
            height="260"/>
            <div class="team-name-profession">
                <h3 class="team-name">Samantha Chen</h3>
                <p class="team-profession">Lead Developer</p>
            </div>
        </li>
        <li class="team-card">
            <img
            src=""
            alt="Foto"
            width="264"
            height="260"/>
            <div class="team-name-profession">
                <h3 class="team-name">Andrew Nguyen</h3>
                <p class="team-profession">Sr. UI Designer</p>
            </div>
        </li>
    </ul>
</section>