<section class="video">
<div class="video-main">
<h2 class="video-tittle">WATCH THE VIDEO</h2>
<p class="video-text">Watch the video below to see our mobile app in action. With a user-friendly interface, personalized recommendations,
secure transactions, and real-time updates, our app is available for download on both Apple and Android devices and is
designed to make your life easier.</p>
<ul class="icon-social-list">
<li class="icon-social-item">
    <svg class="video-social-icon" width="30" height="27">
        <use href=""></use>
    </svg>
</li>
<li>
        <svg class="video-social-icon" width="30" height="27">
            <use href=""></use>
        </svg>
</li>
</ul>
</div>
<div class="video-image">
<img src="../img/video/iPhone X Flying Mockup Space Gray label.png" alt="phone-image">
</div>
</section>