<section class="video-2">
  <h2 class="video-2-title">WATCH THE VIDEO</h2>
  <p class="video-2-text">
    Watch the video below to see our mobile app in action. With a user-friendly
    interface, personalized recommendations, secure transactions, and real-time
    updates, our app is available for download on both Apple and Android devices
    and is designed to make your life easier.
  </p>
  <img
    class="video-2-img"
    src="../img-video-2/iphone-x.jpg"
    alt="black telefon with video"
  />
  <ul class="video-2-list">
    <li class="video-2-list">
      <img
        class="../img-video-2/apple.png"
        src="../img-video-2/apple.png"
        alt=""
      />
    </li>
    <li class="video-2-list">
      <img class="" src="../img-video-2/robot.png" alt="" />
    </li>
  </ul>
</section>
