.video-2 {
  background: #06071b;
}
.video-2-title {
  color: #fff;

  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.video-2-text {
  color: #fff;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.video-2-img {
}
.video-2-list {
}
.video-2-svg {
}
